/hold/
/test/
/tier3/
/train/
/yolo-damage/data/

/runs/

/yolo-damage/runs/damage_yolo_run1/
/yolo-damage/runs/damage_yolo_run1-2/
/yolo-damage/runs/damage_yolo11s_100ep/
/yolo-damage/runs/damage_yolo11s_100ep-2/
/yolo-damage/runs/damage_yolo11s_100ep-4/

/*.pt

__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.virtual_documents/
.DS_Store
Thumbs.db
